version: "3.9"
services:

  backend:
    build: ./backend
    expose:
      - "8000"
    env_file: ./backend/.env
    restart: unless-stopped
    depends_on:
      - redis

  frontend:
    build: ./frontend
    expose:
      - "3000"
    env_file: ./frontend/.env.local
    restart: unless-stopped
    depends_on:
      - backend

  redis:
    image: redis:7-alpine
    expose:
      - "6379"
    restart: unless-stopped
